.frame-selected {
  color: var(--primary-color-2) !important;
  border-color: var(--primary-color-4);
}

.frame-1:hover,
.frame-2:hover {
  background-color: #ededed;
  color: var(--primary-color-2) !important;
}

.frame-1:active,
.frame-2:active,
.vertical-nav-footer:active {
  transform: scale(0.97);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.staff-nav,
.admin-navbar {
  background-color: var(--primary-color-2);
  box-shadow: 15px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  height: 100vh;
}

.vertical-nav {
  align-items: center;
  border-radius: 0px 0px 13px 13px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 300px;
}

.vertical-nav img {
  border-radius: 99px;
}

.vertical-nav .vertical-nav-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 12px 0;
  margin-left: 12px;
}

.vertical-nav .vertical-account {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.vertical-nav .vertical-avatar {
  height: 47px;
  margin-bottom: -1.5px;
  margin-left: -1.5px;
  margin-top: -1.5px;
  object-fit: cover;
  position: relative;
  width: 47px;
  background-color: #ededed;
}

.vertical-nav .vertical-info {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.vertical-nav .vertical-name {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.vertical-nav .vertical-mail {
  color: #ededed;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.vertical-nav .interface-essential-wrapper {
  align-items: center;
  background-color: #008000;
  border: 1.5px solid;
  border-color: #fff;
  border-radius: 79.2px;
  display: flex;
  gap: 8px;
  height: 15px;
  justify-content: center;
  left: 30px;
  padding: 1.6px;
  position: absolute;
  top: 30px;
  width: 15px;
}

.vertical-nav .boundary {
  background-color: #ededed;
  opacity: 0.5;
  height: 2px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 8px;
  position: relative;
  width: 350px;
}

.vertical-nav .vertical-nav-body {
  color: var(--primary-color-4);
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.vertical-nav-body .frame-content {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
  font-weight: 500;
}

.frame-selected {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;

  -webkit-backdrop-filter: blur(4px) brightness(100%);
  align-items: center;
  align-self: stretch;
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #ededed;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  margin-left: -1px;
  margin-right: -1px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.vertical-nav-body .frame-1 {
  color: #fff;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 12px;
  position: relative;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.vertical-nav-body a {
  color: var(--primary-color-4);
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding-right: 12px;
  position: relative;
  width: 100%;
}

.vertical-nav-body .frame-2 {
  color: #fff;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.vertical-nav .vertical-management {
  color: rgba(136, 144, 159, 1);
  font-size: 14px;
  line-height: normal;
  margin-top: -1px;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.vertical-nav .frame-data {
  background-color: var(--primary-color-1);
  color: var(--primary-color-4);
  width: 30px;
  align-items: center;
  border-radius: 99px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;

  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}

.vertical-nav .vertical-nav-footer.logout {
  background-color: #c70039;
  color: #fff;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.frame-2.frame-selected > div:last-of-type {
  display: none;
}

.custom-icon-nav {
  padding: 0 16px 0 8px;
}
