@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==================== STYLE CSS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color-1: #fac031;
  --primary-color-2: #043873;
  --primary-color-3: #4f9cf9;
  --primary-color-4: #212529;
  --primary-color-5: #ff9f7d;
  --primary-color-6: #373f51;
  --primary-color-7: #003049;

  --linear-gradient-color-0: linear-gradient(45deg, #0072fb, #ff5733);
  --linear-gradient-color-10: linear-gradient(45deg, #ff5733, #0072fb);
  --linear-gradient-color-1: linear-gradient(45deg, #ffe492, #ff9f7d);
  --linear-gradient-color-2: linear-gradient(to right, #4f9cf9, #3254fa);
  --linear-gradient-color-3: linear-gradient(45deg, #c1c1ff, #2d2b5c);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* scroll-padding-top: 12rem; */
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color-4);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.white {
  color: #fff;
}

.custom-icon {
  color: var(--primary-color-2);
  padding: 0 4px;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color-1);
  border-radius: 12px;
  min-width: 98px;
  padding: 18px 50px;
  color: var(--primary-color-2);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  border: none;

  /* &:hover {
    opacity: 0.8;
    transform: scale(0.98);
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  }

  &:active {
    text-decoration: none;
    transform: scale(0.95);
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  } */
}

div:where(.swal2-container).swal2-center > .swal2-popup {
  padding: 30px;
  border-radius: 16px;
}

div:where(.swal2-container).swal2-center > .swal2-popup {
  width: 25%;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  padding: 12px 32px;
  background-color: var(--primary-color-1) !important;
  color: var(--primary-color-2) !important;
  border-radius: 8px !important;
  font-weight: 700 !important;
}

div:where(.swal2-container) .swal2-html-container {
  font-size: 1.3em !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #043873;
  border-radius: 12px;
}

/*==================== LOADING ====================*/
.loading-container {
  background-color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loading-container h1 {
  color: #fff;
  margin-left: 30px;
  -webkit-user-select: none;
  user-select: none;
}

.loader {
  position: relative;
  width: 130px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#0277bd, #0277bd), linear-gradient(#29b6f6, #4fc3f7),
    linear-gradient(#29b6f6, #4fc3f7);
  background-size: 80px 70px, 30px 50px, 30px 30px;
  background-position: 0 0, 80px 20px, 100px 40px;
}

.loader:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  box-sizing: content-box;
  border: 10px solid #000;
  box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
  animation: wheelSk 0.75s ease-in infinite alternate;
}

.loader:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0px;
  height: 70px;
  width: 70px;
  background-image: linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0), linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px, 8px 35px, 0px 60px;
  animation: lineDropping 0.75s linear infinite;
}

@keyframes wheelSk {
  0%,
  50%,
  100% {
    transform: translatey(0);
  }
  30%,
  90% {
    transform: translatey(-3px);
  }
}

@keyframes lineDropping {
  0% {
    background-position: 100px 11px, 115px 35px, 105px 60px;
    opacity: 1;
  }
  50% {
    background-position: 0px 11px, 20px 35px, 5px 60px;
  }
  60% {
    background-position: -30px 11px, 0px 35px, -10px 60px;
  }
  75%,
  100% {
    background-position: -30px 11px, -30px 35px, -30px 60px;
    opacity: 0;
  }
}

/*==================== HEADER ====================*/
.fixed-header {
  background: var(--primary-color-2);
  padding-top: 16px;
  padding-bottom: 4px;
  position: sticky;
  top: -30px;
  z-index: 999;
}

/*==================== NAVBAR ====================*/
.navbar {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.navbar .chosen a {
  color: var(--primary-color-1);
}

.navbar img {
  width: 60px;
}

.navbar span a {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-right: 130px;
  padding-left: 8px;
}

.navbar ul {
  display: flex;
}

.navbar .actions,
.navbar .user-profile {
  margin-left: auto;
}

.navbar ul li a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px 20px;
  transition: color 0.3s ease-in-out;
}

.navbar .action-btn {
  padding: 12px 40px !important;
  /* margin-left: 18px; */
  /* background-image: var(--linear-gradient-color-1); */
  /* color: var(--primary-color-2); */

  &:active {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  }
}

/*==================== SUB NAV ====================*/
.navbar > li {
  display: inline-block;
}

.navbar li {
  position: relative;
}

.navbar > li > a {
  color: #fff;
}

.navbar ul li a {
  line-height: 46px;
  padding: 0 24px;
  display: block;

  &:hover {
    color: var(--primary-color-1);
  }
}

.navbar li:hover .sub-nav {
  display: block;
}

.navbar .sub-nav li:hover a {
  background-color: var(--primary-color-3);
  color: var(--primary-color-2);
  rotate: -1deg;
}

.navbar .sub-nav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.navbar .sub-nav a {
  color: var(--primary-color-4);
  padding: 0 24px;
  line-height: 38px;
  transition: 0.3s ease-in-out;
  border-radius: 12px;
}

/*==================== USER PROFILE ====================*/
.navbar .user-profile {
  padding: 2px;
  color: var(--primary-color-2);
  border-radius: 99px;

  background: var(--primary-color-1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    opacity: 0.85;
  }
}

.user-profile img {
  border-radius: 99px;
  width: 42px;
  background-color: var(--primary-color-5);
}

.user-profile .user-list > a {
  display: flex;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  line-height: 0 !important;
  padding: 1px !important;

  display: block;
  transition: 0.3s ease-in-out;

  &:hover {
    color: var(--primary-color-5);
  }
}

.user-profile .sub-nav-user li:hover a {
  background-color: var(--primary-color-3);
  color: var(--primary-color-2);
  rotate: -1deg;
  letter-spacing: 1px;
}

.user-profile > li:hover .sub-nav-user {
  display: block;
}

.user-profile .sub-nav-user {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 102%;
  right: 0%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 0;
  border-radius: 12px;
}

.user-profile .sub-nav-user a {
  color: var(--primary-color-2);
  padding: 0 24px;
  line-height: 38px;
  transition: 0.3s ease-in-out;
  border-radius: 12px;
}

.user-list span {
  padding-left: 20px;
  margin-right: 10px;
  /* max-width: 40px; */
  height: auto;
  font-weight: 600;
}

.user-list div {
  display: flex;
  align-items: center;
  min-height: 46px;
}

/*==================== HERO ====================*/
.hero {
  background-color: var(--primary-color-2);
  height: 90vh;
}

.hero-content {
  display: flex;
  padding-top: 100px;
}

.hero .info {
  width: 50%;
}

.hero .sub-title {
  color: var(--primary-color-1);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.18px;
}

.hero .title {
  color: #fff;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  margin-top: 30px;
}

header .hero-img {
  margin-left: auto;
  height: 375px;
}

.btn.cta {
  /* min-width: 170px; */
  margin-top: 40px;

  &:active {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  }
}

/*==================== FOOTER ====================*/
.footer-head {
  text-align: center;
  padding-top: 60px;
  /* margin-bottom: 50px; */
}

.footer-head .title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-head .title span {
  color: var(--primary-color-1);
}

.footer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 120px;
  padding: 30px 30px 20px 30px;
  height: 100vh;
  color: #fff;
  background-color: var(--primary-color-2);
  /* background-image: url('../public/assets//undraw/undraw_professor_re_mj1s.svg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  position: relative;
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer img {
  width: 100px;
}

.footer__addr h2 {
  position: absolute;
  top: 20px;
  left: 123px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.nav__title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color-1);
}

.footer__addr > .btn {
  position: absolute;
  top: 50px;
  left: 120px;
  display: flex;
  align-items: center;
  padding: 18px 60px;
  font-size: 1.4rem;
  height: 46px;
  font-size: 1.6rem;
  padding: 0 3em;

  &:active {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  }
}

.footer li {
  line-height: 2em;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  /* background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 30px 20px 20px 20px; */
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 500;

  &:hover {
    color: var(--primary-color-1);
  }
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  color: var(--primary-color-3);
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

/* .css-1hw9j7s.btn { */
.css-sghohy-MuiButtonBase-root-MuiButton-root.btn {
  background-color: var(--primary-color-1);
  border-radius: 12px;
  min-width: 98px;
  padding: 18px 50px;
  color: var(--primary-color-2);
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;

  &:hover {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  }

  &:active {
    text-decoration: none;
  }
}
