.ContactPage {
  width: 100%;
  height: 120vh;
  background-color: var(--primary-color-2);
}

.ContactPage .btn {
  margin-left: 600px;

  &:active {
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
  }
}

.custom-icon-contact {
  font-size: 24px;
  color: #fff;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container {
  margin-top: 300px;
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
}

.container .contactusInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background-color: var(--primary-color-2);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.container .contactusInfo h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}
.container .contactusInfo ul.info {
  position: relative;
  margin: 20px 0;
}
.container .contactusInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 30px 0;
  cursor: pointer;
  align-items: flex-start;
}
.container .contactusInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
.container .contactusInfo ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}
.container .contactusInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 400;
  line-height: 30px;
}
.container .contactusInfo ul.sci {
  position: relative;
  display: flex;
  justify-content: center;
}
.container .contactusInfo ul.sci li {
  list-style: none;
  margin-right: 15px;
}
.container .contactusInfo ul.sci li a {
  text-decoration: none;
}
.container .contactusInfo ul.sci li a img {
  width: 45px;
  height: 40px;
  max-width: 100%;
}
.container .contactusInForm {
  position: absolute;
  padding: 50px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: 1110px;
  height: 100%;
  background: var(--primary-color-0);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.container .contactusInForm h2 {
  color: var(--primary-color-2);
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container .contactusInForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.container .contactusInForm .formBox span {
  margin-left: 10px;
}

.container .contactusInForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}

.container .contactusInForm .formBox .inputBox.w50 {
  width: 47%;
}
.container .contactusInForm .formBox .inputBox.w100 {
  width: 100%;
}

.inputBox.w100 .btn {
  float: right;
  font-size: 1.6rem;
  font-weight: 700;
}

.container .contactusInForm .formBox .inputBox input,
.container .contactusInForm .formBox .inputBox textarea {
  background-color: #eeedff;
  border-radius: 10px;
  border: none;
  padding: 12px 16px;
  width: 100%;
  outline: none;

  &:focus {
    outline: 2px black solid;
  }
}

.container .contactusInForm .formBox .inputBox textarea {
  height: 120px;
}

.container .contactusInForm .formBox .inputBox span {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 500;
}

textarea {
  resize: none;
}

.label-error .error {
  position: absolute;
  top: -24px;
  right: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: red;
}
